html {
	background-image: url(image/image3.jpg);
	text-align: center;
	width: 1900px;
}	

input{
	padding: 5px;
	width: 20%;
	border-radius: 5px;
	box-sizing: border-box; /* хз */

}

label{
	font-weight: bold;
	color: white;
}

span{
	font-style: italic;
}

button{
	width: 70px;
	padding: 10px; 
	border-radius: 20px;
	background-color: white;
	font-weight: bold
}
