main, html {
	margin: 0;
	padding: 0;
}

.section1 {
	background-image: url(img/image1.jpg);
	border: 1px solid transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	opacity: 0.7;
} 

.section1 p {
	padding: 20px 40px;
	background-color: black;
	color: white;
	width: fit-content; /* Наибольшее из: внутренняя минимальная ширина
	меньшая из внутренней предпочтительной ширины и доступной ширины*/
	margin-top: 50vh; /* это двигает к центру по вертикали(y) */
	margin-bottom: 50vh; /* и это(y) */
	margin-left: auto; /* там мы двигаем к центру по x*/ 
	margin-right: auto; /* это также помогает x */
	font-size: 3rem;
	letter-spacing: 10px; /* растояние между буквами */
}

.section2 {
	text-align: center;
	padding: 100px;
	font-size: 1.5rem;
}

.section3 {
	background-image: url(img/image2.jpg);
	border: 1px solid transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	opacity: 0.7;
	font-family: sans-serif;
	font-weight: 100;
	text-align: center;
	padding: 100px;
	font-size: 3rem;
	color: white;
}

.section4 {
	background-color: black;
	color: white;
	text-align: center;
	padding:80px;
	font-size: 1.5rem;
	opacity: 0.7;
}

.section5 {
	background-image: url(img/image3.jpg);
	border: 1px solid transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	opacity: 0.8;
	text-align: center;
	padding: 100px;
	font-size: 3rem;
	color: white;
	font-weight: 100;
}

.section6 {
	background-color: black;
	color: white;
	text-align: center;
	padding:80px;
	font-size: 1.5rem;
	opacity: 0.7;
}

.section7 {
	background-image: url(img/image1.jpg);
	border: 1px solid transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	opacity: 0.7;
} 

.section7 p {
	padding: 20px 40px;
	background-color: black;
	color: white;
	width: fit-content; /* Наибольшее из: внутренняя минимальная ширина
	меньшая из внутренней предпочтительной ширины и доступной ширины*/
	margin-top: 50vh; /* это двигает к центру по вертикали(y) */
	margin-bottom: 50vh; /* и это(y) */
	margin-left: auto; /* там мы двигаем к центру по x*/ 
	margin-right: auto; /* это также помогает x */
	font-size: 3rem;
	letter-spacing: 10px; /* растояние между буквами */
}